@import "includes/_functions.scss";
@import "includes/_preloader.scss";
@import "includes/_back_to_top_button.scss";
@import "includes/_navigation.scss";
@import "includes/_footer.scss";
//slider
.slides-nav {
    z-index: 99;
    position: absolute;
    right: -5%;
    display: flex;
    align-items: center;
    height: 100%;
    color: #111;
    button {
        position: relative;
        display: inline-block;
        padding: 0.35em;
        margin: 0;
        font-family: "Roboto", monospace;
        appearance: none;
        background: transparent;
        border: 0;
        overflow-x: hidden;
        transition: color 0.5s ease;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 1px;
            width: 0;
            background: #111;
            transition: width 0.4s ease;
        }
        &:hover {
            cursor: pointer;
            color: rgba(17, 17, 17, 0.75);
            transition: color 0.5s ease;
            &:after {
                width: 100%;
                transition: width 0.4s ease;
            }
        }
        &:focus {
            outline: 0;
        }
    }
}

.slides-nav__nav {
    position: relative;
    right: 0;
    display: block;
    font-size: 1em;
    transform: rotate(90deg);
    transform-origin: center;
}

.is-sliding {
    .slides-nav {
        pointer-events: none;
    }
    .slides {
        background: #ededed;
        transition: background 0.3s cubic-bezier(0.99, 1, 0.92, 1);
    }
    .slide__figure {
        transform: scale(0.8);
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .slide__img {
        filter: grayscale(100%);
    }
}

.slides {
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    background: $white;
    transition: background 1s cubic-bezier(0.99, 1, 0.92, 1);
}

.slide {
    z-index: -1;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: z-index 1s ease;
}

.slide.is-active {
    z-index: 19;
    transition: z-index 1s ease;
}

.slide__content {
    position: relative;
    margin: 0 auto;
    height: 95%;
    width: 95%;
    top: 2.5%;
}

.slide__header {
    z-index: 9;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transform: translateX(5%);
}

.slide__title {
    font-family: helvetica;
    background-color: rgba(0, 0, 0, 0.722);
    font-size: 2.5em;
    font-weight: 700;
    border-radius: 5px;
    color: $white;
    background-attachment: fixed;
    text-transform: capitalize;
    overflow-y: hidden;
    height: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    .bold {
        text-transform: uppercase;
        color: $darkgold;
    }
    .title-line {
        display: block;
        overflow-y: hidden;
        span {
            display: inline-block;
            transform: translate3d(0, 140%, 0);
            opacity: 0;
            transition: transform 0.4s ease, opacity 0.8s ease;
            &:nth-child(1) {
                transition-delay: 0.15s;
            }
            &:nth-child(2) {
                transition-delay: 0.3s;
            }
        }
    }
}

.is-active {
    .slide__title {
        .title-line {
            span {
                transform: translate3d(0, 0%, 0);
                opacity: 1;
                transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
            }
            &:nth-of-type(2n) {
                span {
                    transition-delay: 0.2s;
                }
            }
        }
    }
    .slide__img {
        height: 100%;
        opacity: 1;
        transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1), filter 0.4s 0.1s ease;
    }
}

.slide__figure {
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.slide__img {
    position: relative;
    display: block;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    -webkit-backface-visibility: hidden;
    height: 0%;
    width: 100%;
    filter: grayscale(0%);
    transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1), filter 0.4s 0.1s ease;
}

//slider end
//filter
#filter {
    background: url(../img/filter-bg.png);
    background-color: rgba(0, 0, 0, 0.781);
    height: fit-content;
    .container {
        padding: 50px 0 50px 0;
        .row {
            padding-top: 15px;
        }
        .fields-column {
            margin-top: 15px;
            select {
                text-transform: capitalize;
                background: none;
                color: $white;
                border: 1px solid $white;
                border-radius: 2px;
                padding: 10px;
                width: 100%;
                font-size: 14px;
                height: 40px;
                option {
                    background-color: $darkblack;
                    color: $white;
                }
            }
            input {
                background: none;
                padding: 10px;
                font-size: 14px;
                text-transform: capitalize;
                border-radius: 2px;
                height: 40px;
                color: $white;
                &::placeholder {
                    color: $white;
                }
            }
        }
        .fields-range {
            margin-top: 15px;
            .price_range {
                text-transform: capitalize;
                margin: 0;
                label {
                    color: $white;
                    font-size: 15px;
                }
                input {
                    color: $darkgold;
                }
                span {
                    color: $darkgold;
                }
                input[type='range'] {
                    overflow: hidden;
                    width: 129px;
                    -webkit-appearance: none;
                    background-color: $darkgold;
                    &::-webkit-slider-runnable-track {
                        height: 10px;
                        -webkit-appearance: none;
                    }
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        width: 10px;
                        height: 50px !important;
                        z-index: 10;
                        cursor: ew-resize;
                        background: $darkblack;
                        box-shadow: -80px 0 0 80px $white;
                    }
                }
            }
        }
        .field-search-btn {
            margin-top: 15px;
            button {
                @include btn_style(100%, uppercase, 15px);
            }
        }
    }
}

//filter end
//about hommy
#about {
    .container {
        .row {
            .left-cell {
                .header {
                    text-transform: uppercase;
                    padding-left: 0 !important;
                    .vertical_line {
                        width: 3px;
                        height: 120px;
                        background-color: $darkgold;
                        display: inline-block;
                    }
                    .header_content {
                        display: inline-block;
                        h2 {
                            font-size: 46px;
                            font-family: raleway;
                            margin-bottom: 0;
                            color: $darkblack;
                        }
                        span {
                            letter-spacing: 8px;
                            text-transform: uppercase;
                        }
                    }
                }
                .passage {
                    p {
                        margin: 0;
                        margin-top: 20px;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 30px;
                        color: $lightblack;
                    }
                }
            }
            .right-cell {
                padding-top: 34px;
                text-align: center;
            }
        }
    }
    .container-fluid {
        .left-skew-passage-bg {
            background-color: $darkgold;
            text-align: right;
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
            .left-skew-passage {
                .passage {
                    text-align: right;
                    text-transform: uppercase;
                    font-family: raleway;
                    padding: 80px 100px 80px 0;
                    span {
                        color: $darkblack;
                        letter-spacing: 8px;
                    }
                    h2 {
                        color: $white;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
        .right-skew-passage-bg {
            background-color: $darkblack;
            text-align: right;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
            .right-skew-passage {
                .passage {
                    text-align: right;
                    text-transform: uppercase;
                    font-family: raleway;
                    padding: 80px 0 80px 100px;
                    span {
                        color: $darkgold;
                        letter-spacing: 8px;
                    }
                    h2 {
                        color: $white;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

//about hommy end
//property
#cards_slider_box {
    margin: 60px 0 70px 0;
    .header p {
        width: auto;
    }
    .swiper-container {
        width: 90%;
        height: 100%;
    }
    .swiper-wrapper {
        width: -moz-fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-container:hover {
        cursor: grab;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    #card1 {
        background-image: url(../img/card1.jpg);
    }
    #card2 {
        background-image: url(../img/card2.jpg);
    }
    #card3 {
        background-image: url(../img/card3.jpg);
    }
    #card4 {
        background-image: url(../img/card4.jpg);
    }
    #card5 {
        background-image: url(../img/card5.jpg);
    }
    #card6 {
        background-image: url(../img/card6.jpg);
    }
    #card7 {
        background-image: url(../img/card7.jpg);
    }
    #card8 {
        background-image: url(../img/card8.jpg);
    }
    #card9 {
        background-image: url(../img/card9.jpg);
    }
    #card10 {
        background-image: url(../img/card10.jpg);
    }
    .swiper-slide {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 500px;
        height: 300px !important;
        border: 1px solid $white;
    }
    .layer {
        width: 100%;
        height: 100%;
        .hover-layer {
            background-color: rgba(0, 0, 0, 0.781);
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            margin-top: -63px;
            button {
                background: rgba(0, 0, 0, 0.722);
                border: 1px solid $white;
                border-radius: 2px;
                color: $white;
                margin-top: 101.5px;
                text-transform: uppercase;
                display: none;
                margin-left: auto;
                margin-right: auto;
            }
            .address {
                margin-top: 48px;
                display: none;
                li {
                    display: inline-flex;
                    i {
                        color: $white;
                    }
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
        .sale {
            h3 {
                background-color: $darkgold;
                color: $white;
                padding: 10px 0 10px 0;
                margin: 0;
                width: fit-content;
                width: -moz-fit-content;
                padding: 2px 10px 2px 10px;
                text-transform: uppercase;
            }
            h3:nth-child(2) {
                margin-top: 5px;
            }
        }
        .rent {
            h3 {
                background-color: rgba(0, 0, 0, 0.781);
                color: $white;
                padding: 10px 0 10px 0;
                margin: 0;
                width: fit-content;
                width: -moz-fit-content;
                padding: 2px 10px 2px 10px;
                text-transform: uppercase;
            }
            h3:nth-child(2) {
                margin-top: 5px;
            }
        }
        .particular {
            background-color: $darkgold;
            width: 100%;
            margin-top: 179px;
            z-index: 10;
            position: absolute;
            transition: all 0.5s;
            ul {
                text-align: left;
                padding: 15px 0 15px 0;
                li {
                    display: inline-block;
                    color: $white;
                }
                li:nth-child(1),
                li:nth-child(2),
                li:nth-child(3) {
                    margin-left: 25px;
                }
            }
        }
    }
    @media (max-width: 760px) {
        .swiper-button-next {
            right: 20px;
            transform: rotate(90deg);
        }
        .swiper-button-prev {
            left: 20px;
            transform: rotate(90deg);
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        z-index: 100;
        position: absolute;
        color: $darkgold !important;
    }
    .more-btn {
        text-align: center;
        margin-top: 40px;
        button {
            @include btn_style(160px, capitalize, 17px);
        }
    }
}

//property end
//agents
#agents {
    .container {
        text-align: center;
        .header {
            text-align: center;
            padding: 0;
            h2 {
                font-size: 46px;
                text-transform: uppercase;
                font-family: raleway;
                margin-bottom: 0;
                color: $darkblack;
            }
            .line1 {
                background-color: $darkgold;
                width: 200px;
                display: inline-block;
                height: 1px;
                .line2 {
                    background-color: $darkgold;
                    position: relative;
                    width: 100px;
                    margin-left: 50px;
                    margin-top: -2px;
                    height: 5px;
                    display: table-caption;
                    z-index: 2;
                }
            }
            p {
                width: auto;
                color: $lightblack;
                font-size: 14px;
                display: inline-block;
            }
        }
        .row {
            .team-area {
                color: $darkgold;
                border: 1px solid #c7c7c7;
                border-radius: 2px;
                .team-photo {
                    img {
                        width: 100%;
                        padding: 10px 10px 0 10px;
                    }
                    .team-footer {
                        text-align: center;
                        background: url(../img/filter-bg.png);
                        background-color: rgba(0, 0, 0, 0.781);
                        width: 100%;
                        .social-list {
                            letter-spacing: 4px;
                            li {
                                display: inline;
                                transition: all 0.5s;
                                font-size: 18px;
                                transform: scaleX(1);
                                &:hover {
                                    color: $white;
                                    cursor: pointer;
                                }
                            }
                        }
                        .team-details {
                            text-transform: uppercase;
                            h5 {
                                margin: 0;
                                padding: 10px 0 10px 0;
                                a {
                                    color: $darkgold;
                                    text-decoration: none;
                                    transition: all 0.5s;
                                    letter-spacing: 2px;
                                    &:hover {
                                        letter-spacing: 3px;
                                        color: $white;
                                    }
                                }
                            }
                            h6 {
                                margin: 0;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//agents end
//blog
#blog {
    .container {
        padding: 0 70px 0 70px;
        .blog_area {
            margin-top: 25px;
        }
        .header {
            padding: 0;
            h2 {
                font-size: 46px;
                text-transform: uppercase;
                font-family: raleway;
                margin-bottom: 0;
                color: $darkblack;
            }
            .line1 {
                background-color: $darkgold;
                width: 100px;
                height: 1px;
            }
            .line2 {
                background-color: $darkgold;
                width: 50px;
                height: 5px;
                margin-top: -3px;
                z-index: 2;
            }
            p {
                width: auto;
                color: $lightblack;
                font-size: 14px;
            }
        }
        .row {
            .blog_area {
                background-color: rgba(218, 218, 218, 0.432);
                border-radius: 2px;
                &:hover {
                    .img_line {
                        background-color: $darkgold;
                    }
                    .img-blog {
                        img {
                            transform: scale(1.125) rotate(0deg);
                            transition: 0.5s;
                        }
                    }
                }
                .img_line {
                    width: 100%;
                    height: 5px;
                    background-color: $darkblack;
                    transition: all 0.5s;
                }
                .img-blog {
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: 0.5s;
                    }
                    .post-author {
                        background-color: rgba(17, 17, 17, 0.822);
                        margin-top: -44px;
                        z-index: 2;
                        position: relative;
                        ul {
                            padding: 10px 15px;
                            li {
                                &:nth-child(2) {
                                    margin-left: 20px;
                                }
                                color: $white;
                                display: inline;
                                text-transform: uppercase;
                                font-family: raleway;
                                font-size: 15px;
                                &:hover {
                                    cursor: pointer;
                                }
                                i {
                                    color: $darkgold;
                                }
                            }
                        }
                    }
                }
                .post-caption {
                    padding: 15px;
                    h3 {
                        display: table;
                        text-transform: uppercase;
                        color: $darkblack;
                        font-family: raleway;
                        transition: all 0.5s;
                        &:hover {
                            color: $darkgold;
                            cursor: pointer;
                        }
                    }
                    p {
                        color: $lightblack;
                    }
                    .continue_reading {
                        display: inline;
                        &:hover {
                            a {
                                color: $darkgold;
                            }
                            .read_line {
                                width: 20px;
                                background-color: $darkgold;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: $darkblack;
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 15px;
                            transition: all 0.5s;
                        }
                        .read_line {
                            transition: all 0.5s;
                            width: 10px;
                            height: 4px;
                            display: inline-block;
                            border-radius: 15px;
                            background-color: $darkblack;
                        }
                    }
                }
            }
        }
    }
}

//blog end
//subscribe
#subscribe {
    margin-top: 30px;
    .container-fluid {
        padding: 0;
        .subscribe_bg {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.884)), url(../img/subscribe-bg.jpg);
            background-attachment: fixed;
            height: 300px;
            padding-top: 57.5px;
            text-align: center;
            .header {
                padding: 0;
                h2 {
                    color: $white;
                }
                p {
                    font-weight: 400;
                    color: $white;
                    display: inline-block;
                }
            }
            .input-group {
                width: 40%;
                display: inline-flex;
                input {
                    background-color: rgba(112, 112, 112, 0.719);
                    border: none;
                    border-radius: 2px;
                    height: 42.5px;
                }
                .input-group-append {
                    border: none;
                    span {
                        @include btn_style(100px, uppercase, 15px);
                        border: none;
                        cursor: pointer;
                        a {
                            text-transform: uppercase;
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

//subscribe end
//client slider
#client_slider {
    height: auto;
    margin: 60px 0 60px 0;
    #carousel_client {
        z-index: 0 !important;
        position: static !important;
        height: auto;
    }
}

//client slider end
//media queries
@media only screen and (max-width: 991px) {
    #sticky_nav {
        #menue_section {
            .rsp_menu_icon {
                display: block;
            }
            .menue {
                display: none;
            }
        }
    }
    #about {
        .container {
            .row {
                .left-cell {
                    .header {
                        display: flex;
                        .vertical_line {
                            margin-right: 5px;
                            margin-top: 46px;
                        }
                    }
                    .passage {
                        width: 100%;
                        margin-bottom: 30px !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 54em) {
    .slides-nav {
        right: 2%;
    }
    .slide__content {
        height: 80%;
        width: 80%;
        top: 10%;
    }
    .slide__header {
        transform: translateX(-5%);
    }
    .slide__title {
        font-size: 3em;
        background-color: rgba(0, 0, 0, 0.722);
        height: 200px;
        width: 80%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding-left: 15px;
        height: fit-content;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 760px) {
    #cards_slider_box {
        .swiper-button-next {
            right: 20px;
            transform: rotate(90deg);
        }
        .swiper-button-prev {
            left: 20px;
            transform: rotate(90deg);
        }
    }
}

//media queries end